<body class="p-3 m-0 border-0 bd-example m-0 border-0">

<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Aristotle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#about">About Me</a>
        <a class="nav-link" href="#projects">Projects</a>
        <a class="nav-link" href="#skills">Skills & Experience</a>
        <a class="nav-link" href="#contact">Contact</a>
      </div>
    </div>
  </div>
</nav>

<section id="about" class="bgimage">
  <div class="header">
    <img class="me" alt="me">
    <br>
    <h1 style="font-weight: bold;">Howdy, my name is Aristotle!</h1>
    <p>I am a full stack software developer!</p>
  </div> 
</section>
<section id="projects">poop</section>
<section id="skills">poop</section>
<section id="contact">poop</section>