.header {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
  }

  .bgimage {
    height: 50vh;
    background: url("../assets/images/banner.jpg");
    background-size:cover;
    position:relative;
}

.me {
    content: url("https://avatars.githubusercontent.com/u/22485477?s=400&u=d1829ed9a0494d119401dc9cc15e36f7edfe379f&v=4");
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    float:left;
    margin: auto;
    position: relative;
}

.icon {
  width: 15px;
  height: 15px;
}

.imageAboutPage {
  width: 100%;
}